* {
    box-sizing: border-box;
    background-image: url("../images/herringbone.png");
    color:black;
    
    
    margin: 1.5px;
}
body{
    background: rgb(174, 214, 164);
    color: black;
    }
  

    
 header {
    display: block;
    margin: -15px auto;
    background:lightgray;
    float: left;
    width: 100%;
    margin-bottom: 25px;
    border-bottom: #666666;
    border-bottom-style: solid;
    border-bottom-width: thin;
}
h1 {
    position: absolute;
    top: 5px; 
    margin: auto;
    float: left;
    text-align: left;
    color: #ffffff;
    background-color:#9dbda4;
    padding: -15px;
    font-family: 'Times New Roman', Times, serif;
}
}
footer{
position: fixed;
left: 0px;
bottom: 0px;
width: 100%;
color: #ffffff;
height: 50px;
background-color: #666666;
padding: 20px;
border-top: 8px black;
border-color: #4aaaa5;
}    

@media screen and (max-width: 600px) and (max-width:768px)
  {
    /* The body's color when you minimize */
    body {
      background-color: green;
    
    }
  
    
    .wrapper {
      width: 100%;
    }
     #main-content,
     #sidebar {
       width: 100%;
     }
     #sidebar {
       margin-top: 20px;
     }
  }

